.navitem{
    background-color: #3b3b46!important;

}
.title a{
    color: #E8F4DC !important;
    margin-left:2vw!important;
}
nav a {
    text-decoration: none!important;
    color: white !important;;
}
.container-fluid a {
    margin-left: 9vw !important;
}
.container-fluid{
    /* display: flex!important;
    flex-wrap: inherit!important;
    align-items: center!important; */
    justify-content: center !important;
}