{% from 'bootstrap5/nav.html'  import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
    {{bootstrap.load_css()}}
    {{ render_static('css', '../static/css/index.css') }}
    <!-- <link rel="stylesheet" href="../static/css/index.css"> -->
    <title>{{title_head}}</title>
</head>

<body>
    {% block navbar %}
    {% include 'nav.html' %}
    {% endblock %}
    {% block content %}

    {% endblock%}
    <!-- navbar block -->


</body>

</html>