<!-- Macro for the News Article -->
{% macro article(news_article) %}

<body>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4 ">

        </div>
    </div>
    {% endmacro %}
    {% macro displaytrending(headline) %}
    {% for trend in headline %}
    <div class="d-flex">

        <img src="{{trend.url_to_image}}" width="600">
        <div class="m-5">
            <strong>
                <p>{{trend.title}}</p>
            </strong>
            <p>{{trend.description}}</p>
            <div class="d-flex justify-content-between flex-row mt-2">
                <p>{{trend.published_at}}</p>
                <a class="text-decoration-none text-danger" href="{{trend.url}}" target="_blank">
                    <p>Read More ...</p>
                </a>

            </div>


        </div>
    </div>
    {% endfor %}

    {% endmacro %}

    {% macro displaynewSource(news) %}
    {% for source in news %}
    <div class="col-md-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
            <div class="card-body">

                <strong>
                    <h5 class="card-title">{{source.name}}</h5>

                </strong>
                <p class="card-text">{{source.description}}</p>

            </div>
        </div>
    </div>
    {% endfor %}
    {% endmacro %}